* {
	font-family: Ubuntu, sans-serif;
	color: #1c292d;
}

body, html {
	width: 100%;
	height: 100%; /* To make sure that body&html always cover 100% of the screen */
	font-size: 100%;
}

.mainbody {
	margin: 0px 10px;
	padding: 15px 15px 15px 15px;
	line-height: 1.8rem;
}

.exampleimages {
	display: inline-block;
}

.navbar {
	background-color: #98dff8;
}

.HeaderBanner {
	max-width: 100%;
}

#ContainerContent {
	background-color: #d9f5f8;
	border: 5px solid #98dff8;
}

.pattern-cross-dots-xl {
	background-color: #98dff8;
	color: #d9f5f8;
}

footer {
	clear: both;
	text-align: center;
	
}

.btn-custom1 {
	margin: 0px 0px 10px 0px;
	padding: 0.6rem 1.2rem;
	background-color: #f24e7e;
	border-color: #f24e7e;
	border-radius: 50px;
	font-weight: 400;
	text-transform: uppercase;
}

.btn-custom1:hover {
	background-color: #dc426f;
	border-color: #dc426f;
	border-width: 3px;
}

hr {
	margin: 10px auto; /* This line of code is necessary to center the line */
	color: #f24e7e;
	border: 2px solid #f24e7e;
	max-width: 65px;
	opacity: 1;
}

.navbar-brand {
	max-width: 10%;
}

.heading {
	display: flex;
	justify-content: center;
}

h1 {
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 25px;
	background-color: #29abe0;
	width: fit-content;
}

h3 {
	text-align: left;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.maintext {

}

li h5{
	font-weight: 500;
	padding: 5px 12px;
	border-radius: 25px;
	background-color: #d9f5f8;
	width: fit-content;
}

li .price {
	font-weight: bold;
}

h5 .price {
	font-weight: normal;
}

ul li {
	padding-bottom: 5px;
}

.nopadli {
	padding: 0px;
}

.box > img {
    width: 100%;
}

.collapsible {
	color: #29abe0;
	cursor: pointer;
	font-weight: bold;
	border: none;
}

.collapsible_content {
    background-color: #d9f5f8;
	padding: 15px 15px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	width: fit-content;
}

.collapsible_content > img {
    width: 100%;
}

.collapsible_content_small {
    background-color: #d9f5f8;
	padding: 15px 15px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	width: fit-content;
}

.collapsible_content_small > img {
    width: 100%;
}

.footertext {
	text-align: center;
	color: #1c292d;
	font-size: 80%;
	padding-right: 15px;
	padding-bottom: 5px;
}

#divfooter {
	
}

a {
	color: #29abe0;
	font-weight: bold;
}

/* #d9f5f8 light blue */
/* #98dff8 blue */
/* #1e6178 dark blue */
/* #1c292d very dark blue */
